<nav class="navbar navbar-expand-lg navbar-dark navbar-survival101">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="nav-image"src="assets/coronanav.jpg" alt="C  O  R  O  N  A">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://kidshealth.org/en/parents/coronavirus-stop-spread.html">Precautions<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public" target="_new">Preventions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.webmd.com/lung/coronavirus-transmission-overview">How it spreads</a>
          </li>
        </ul>
        <form class="form-inline">
          <div class="input-group search-box"><script async src="https://cse.google.com/cse.js?cx=008461355924430407969:sxoh-prjl-u"></script>
            <div class="gcse-search"></div>
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button"><i class="ion-search"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
      
  </nav>
  
<hr>