<div id="last">
    <div class="container-fluid">
        <div class="row footer-top">
            <div class="col-sm-6 text-center">
                <h4 class="ft-text-title">Powered BY : ZAIDI Solutions</h4>
                
                </div>
                <div class="col-sm-6 text-center border-left">
                    <p class="member">
                           <a href="https://instagram.com/gr8_alizaidi/?hl=en" target="_blank"> <b>Director</b> : ALI ZAIDI</a>
                        
                        <p class="member">
                            <a href="https://twitter.com/gr8_alizaidi?lang=en" target="_blank"><i class="fa fa-twitter" style="font-size:48px;color:red"></i></a>
                        </p>
                   </div>
               </div>
        
        
      <div class="row ft-copyright pt-2 pb-2" style="padding-left: 25px;">
        <div class="col-sm-4 text-pp-crt">cpoyright 2020 All  Rights Reserved</div>
        <div class="col-sm-4 developer">
          <a href="https://twitter.com/gr8_alizaidi?lang=en" target="_blank" class="text-pp-crt">By : ALI ZAIDI</a>
        </div>
      </div>
    </div></div>